name: "Make a war"

env:
  ####### ENV VARS #######
  SEC_PHRASE: ${{ secrets.SEC_PHRASE }}
  SEC_PHRASE_2: ${{ secrets.SEC_PHRASE_2 }}
  SEC_PHRASE_3: ${{ secrets.SEC_PHRASE_3 }}
  SEC_PHRASE_4: ${{ secrets.SEC_PHRASE_4 }}
  SEC_PHRASE_5: ${{ secrets.SEC_PHRASE_5 }}
  SEC_PHRASE_6: ${{ secrets.SEC_PHRASE_6 }}
  SEC_PHRASE_7: ${{ secrets.SEC_PHRASE_7 }}
  SEC_PASSWORD: ${{ secrets.SEC_PASSWORD }}
  SEC_GAME_URL: ${{ secrets.SEC_GAME_URL }}
  SEC_GAME_URL_CAMP: ${{ secrets.SEC_GAME_URL_CAMP }}
  SEC_GAME_URL_OPPONENTS_CAMP: ${{ secrets.SEC_GAME_URL_OPPONENTS_CAMP }}
  SEC_GAME_URL_ACADEMY: ${{ secrets.SEC_GAME_URL_ACADEMY }}
  SEC_GAME_URL_GOLD: ${{ secrets.SEC_GAME_URL_GOLD }}
  SEC_GAME_URL_MARKET: ${{ secrets.SEC_GAME_URL_MARKET }}
  SEC_GAME_URL_QUARRY: ${{ secrets.SEC_GAME_URL_QUARRY }}
  SEC_GAME_URL_TEMPLE: ${{ secrets.SEC_GAME_URL_TEMPLE }}
  SEC_GAME_URL_TIMBER: ${{ secrets.SEC_GAME_URL_TIMBER }}
  SEC_GAME_URL_TREASURY: ${{ secrets.SEC_GAME_URL_TREASURY }}
  SEC_GAME_URL_WALL: ${{ secrets.SEC_GAME_URL_WALL }}

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 */1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'

      - name: Start selenium grid
        run: docker-compose -f selenium-compose.yaml up -d

      - name: Build and run
        run: mvn -T 2 "-Dsurefire.rerunFailingTestsCount=3" test -Dbrowser='chrome' "-Djunit.jupiter.execution.parallel.enabled=false"